@model FieldPotentialRecordingsProcessor.Pages.IndexModel

@{
}

<!-- Upload csv file -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> <small>supported: <i>.csv</i></small></div>
        <div class="panel-body">
            <h4>Select files from your computer</h4>
            <form method="post" enctype="multipart/form-data" asp-page-handler="UploadRecordingSession">
                <div class="form-inline">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="form-group">
                                <input type="file" accept=".csv" asp-for="Upload">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label asp-for="Separator" class="control-label"></label>
                                <input asp-for="Separator" class="form-control" value=";" />
                                <label asp-for="LineSeparator" class="control-label"></label>
                                <input asp-for="LineSeparator" class="form-control" />
                                <!--<span asp-validation-for="RawData.Ch1Stim1" class="text-danger"></span>-->
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                        </li>
                    </ul>
                </div>
            </form>

            <!-- Uploaded Successfull -->
            <div>
                <h3>Processed files</h3>
                @if (Model.Upload != null)
                {
                    <a asp-page="RecordingSessions/Details" asp-route-id="@Model.UploadedRecordingSession.Id"
                       class="list-group-item list-group-item-success">
                        <span class="badge alert-success pull-right">Success</span>
                        @Model.Upload.Name
                    </a>
                }
            </div>
        </div>
    </div>
</div> 